/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-nav>li.active{
background-color: #f6f6f6;
border-top-color: #3c8dbc;   
}
a.blog-nav-item{  
color: #444;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/*  ======*/
.nav.navbar-nav{
  margin-top: 160px;
}
#boxmain_menu{
  background: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  height: 200px;
}
.blog-masthead {
  background: #428bca url('../images/header.jpg') no-repeat;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  height: 150px;
  position: relative;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 5px 0px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}
/*###############  content */
.navbar-inversefix{
 background-color: #428bca;
-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); 
}


#mainbox_profile{
  min-height: 120px;
  border: 1px solid #DED;
  margin-top:10px;
}
    
#proimg{
  float:left;
  margin:5px;
}
#profile{
float:left;
width: 85%;
border-left: 1px solid #DED;
}
 
#mainbox_profile #proimg img{
   border:1px solid #DED;
   padding:10px;
   height:150px;
   width: 150px;
   }
 .h_profiles{
 margin-left: 20px;
 border-bottom: 1px solid #9B9090;
margin-left: 10px;
width: 300px;
margin-bottom: 10px;
 }  
 
 .course-sub {
border-bottom: 1px solid #9B9090;
/* margin-left: 10px; */
width: 300px;
}
#my_box_trainning_history{
border-left: 1px solid #DED;
border-right: 1px solid #DED;
border-bottom: 1px solid #DED;
border-top: none;
margin-bottom: 10px;
min-height: 100px;
padding:10px;
}
.h_profiles{
  border-bottom:1px solid #9B9090;
  margin-left:10px;
}
#login-container{ 
    margin-top:10px;
    padding-bottom:30px;
	background-color:#A6A6B5;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow:2px 2px 5px #800000;
	border-radius: 4px;
	box-shadow: inset 0 -5px 55px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.login h5 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.myinput{
	width: 80%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.myinput:focus{
 box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}
#reg-container{
    margin-top:10px;
    padding-bottom:30px;
	background-color:#A6A6B5;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow:2px 2px 5px #800000;
	border-radius: 4px;
	box-shadow: inset 0 -5px 55px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.register h5 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
/*################   contact css */
.indent {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padding-left {
  padding-left: 0;
}

.border-right {
  border-right: 1px solid #d4d4d4;
}

#maincontact {
width: 100%;
margin-bottom: 15px;
}

.contact {
  
  border: 1px solid #428bca;
  min-height: 200px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  position: relative;
}
.contact .info {
  padding: 1% 0;
  background-color: #428bca;
 -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
 box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.contact .info h1 {
  font-size:1.5em;
  font-weight: 200;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
.contact .form {
  overflow: hidden;
}
.contact .form input[type="text"], .contact .form textarea {
  background: none;
  font-size: 1.3em;
  padding: 10px;
  width: 100%;
  border: none;
  color: gray;
}
.contact .form input[type="text"]:focus, .contact .form textarea:focus {
  background-color: #f1f1f1;
}
.contact .form textarea {
  min-height: 100px;
}
.contact .form button[type="submit"] {
  text-align: center;
  background: transparent;
  border: none;
  color: #666666;
  display: table;
  margin: 25px auto;
  font-weight: 300;
  font-size: 1.5em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.contact .form button[type="submit"] span {
  display: table-cell;
}
.contact .form button[type="submit"] i {
  display: table-cell;
  padding-right: 7px;
}
.contact .form button[type="submit"]:active {
  outline: none;
  border: none;
}
.contact .form button[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
}
.contact .additional {
  text-align: center;
}
.contact .additional h2 {
  display: table;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  font-weight: 200;
  color: #868686;
}
.contact .additional ul {
  margin-top: 3%;
}
.contact .additional ul li {
  display: inline-block;
  margin-right: 8%;
  opacity: 0.2;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.contact .additional ul li i {
  font-size: 3em;
}
.contact .additional ul li a, .contact .additional ul li a:visited {
  color: gray;
}
.contact .additional ul li:hover {
  opacity: 0.4;
}
.contact .additional ul li:last-child {
  margin-right: 0;
}

.fixrow_border {
  border-bottom: 1px solid #428BCA;
}
.fixrow_border:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 1300px) {
  #maincontact {
    width: 60%;
  }
}
@media only screen and (max-width: 1200px) {
  #maincontact {
    width: 70%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #maincontact {
    width: 80%;
  }

  .no-padding-left {
    padding-left: 15px;
    border-top: 1px solid #d4d4d4;
  }
}
.logout{
position: absolute !important;
right: 10px;
}
.usernamelogin{
position: absolute !important;
right: 40px;
width: 300px;
height: 28px;
overflow: hidden;
}
 
.box-activity{
    height: 120px;
    overflow: hidden;
}
.box-imag img{
    width: 100%;
}
.fixrowhome{
margin: 15px 15px; 
}





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* index course img1 */
.box-activity .box-desc {
position: absolute;
bottom: 0;
left: 15px;
right: 15px;
}
.box-desc-activity {
background-color: #333;
background-color: rgba(0,0,0,0.6);
padding: 11px 30px;
height: 50px;
}
.box-imag a img{
width:100%;
height:200px;
}

/* footter */
.f_right_ul {
list-style: none;
}
.testeditetobitbucket{
color:#434;
}
body{
background:#F6F6F6 !important;
}
.container div.row div.col-xs-12 div#main_boxslide{
background: rgba(239, 243, 249, 0.65);  
}
footer{
color: #E84747;
background: #1C374D;
}